@model List<Project.Models.Doctor>
@{
    Layout = "_Layout";
}
@using Project.Models
<html>
    <head>
    <link href="~/css/doctors-profile.css" rel="stylesheet" />
    </head>
    <body>
    <div class="container2">
        @foreach (var doctor in Model ?? Enumerable.Empty<Doctor>())
        {
            <div class="box">
                <div class="wrapper">
                    <div class="img-area">
                        <div class="inner-area">
                            <img id="imageElement" src="~/img/pp.png" />
                        </div>
                    </div>

                    <div class="name" id="username">@doctor.Name</div>
                    <div class="about" id="useremail">@doctor.Email</div>
                    <div class="social-icons" id="s2">
                        <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="buttons">
                        <button id="btn_logout" class="message-button" data-doctor-id="@doctor.Id">Message</button>
                        <button id="Explore">Explore US</button>
                    </div>
                    <div class="social-share">
                        <div class="row">
                            <i class="far fa-heart"></i>
                            <i class="icon-2 fas fa-heart"></i>
                            <span>20.4k</span>
                        </div>
                        <div class="row">
                            <i class="far fa-comment"></i>
                            <i class="icon-2 fas fa-comment"></i>
                            <span>14.3k</span>
                        </div>
                        <div class="row">
                            <i class="fas fa-share"></i>
                            <span>12.8k</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    </body>
</html>
<script>
    // Add event listeners to all "Message" buttons
    const messageButtons = document.querySelectorAll(".message-button");
    messageButtons.forEach(button => {
        button.addEventListener("click", function () {
            const doctorId = button.getAttribute("data-doctor-id");
            const patientInfo = getUserCookie('UserInfo');
            if (patientInfo) {
                const parsedObject = JSON.parse(patientInfo);
                const role = parsedObject.UserRole;
                const user = parsedObject.User;
                const ptn_Id = user.Id;
                const ptn_name=user.Name;
                createChatCookie(doctorId, ptn_Id,ptn_name);
                console.log("Cookie created");
                window.location.href="/Service/Chat";
            }
            else {
                window.location.href = "/Login_Signup/Login";
            }
        });
    });

    function getUserCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return decodeURIComponent(parts.pop().split(';').shift());
    }
    function createChatCookie(doctorId, patientId,ptn_name) {
        var chatInfo = {
            doctor_id: doctorId,
            patient_id: patientId,
            patient_name:ptn_name
        };
        var expiryDate = new Date();
        expiryDate.setTime(expiryDate.getTime() + 1 * 24 * 60 * 60 * 1000); // 1 day in milliseconds
        document.cookie = "ChatCookie=" + JSON.stringify(chatInfo) + "; expires=" + expiryDate.toUTCString() + "; path=/";
    }
</script>