<head>
    <script src="~/js/login.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <section class="container" id="cardContainer">
        <div class="login-container" id="log1">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <p>
                    <button class="opacity" id="doctor" onclick="Doctor()">As Doctor</button>
                    <button class="opacity" id="patient" onclick="patient()" >As Patient</button>
                </p>
                <div class="register-forget opacity">
                    <a href="/Login_Signup/Signup">Signup</a>
                </div>
               
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
        
    </section>

</body>
<script>
    document.getElementById('doctor').addEventListener('click', function () {
        window.location.href = '/Login_signup/login_Doctor';
    });
    document.getElementById('patient').addEventListener('click', function () {
        window.location.href = '/Login_signup/login_Patient';
    });
</script>