<head>
    <script src="~/js/login_doctor.js"></script>
    <link href="~/css/login_doctor.css" rel="stylesheet" />
</head>
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">SIGNUP AS DOCTOR</h1>
                <h3 class="opacity">@ViewBag.Message</h3>
                <form action="/Login_Signup/Signup_Doctor_Succsessful" method="post">
                    <input type="text" placeholder="Name" name="Name" required />
                    <input type="email" placeholder="EMAIL" name="Email" required />
                    <input type="password" placeholder="PASSWORD" name="Password" />
                    <input type="text" placeholder="City" name="City" required />
                    <input type="text" placeholder="Gender" name="Gender" required />
                    <input type="text" placeholder="Specilization" name="Specilization" />
                    <button class="opacity" id="btn_login">SUBMIT</button>
                </form>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>